body {
  font-family: 'Open Sans', sans-serif;
}

.entry-img {
  /* object-fit: contain; */
  width: 100%;
}

.heading-font {
  font-family: 'Proza Libre', sans-serif;
}

.purple-bg {
  background-color: #562b81;
}

.white-text {
  color: white;
}

.page-header-text {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  padding: 0 1.5rem;
  font-family: 'Proza Libre', sans-serif;
  line-height: 27.3px;
}

.label-text {
  font-family: 'Proza Libre', sans-serif;
}
