body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
}

.page-header-container {
  display: flex;
  align-items: baseline;
  padding: 0 0;
}

@media screen and (min-width: 768px) {
  .page-header-container {
    max-width: 900px;
    padding: 0 0.75rem;
  }
}

.entry-img {
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}

.page-header {
  background-color: #562b81;
  color: white;
}

.page-header-text {
  font-size: 20px;
  font-weight: 400;
  min-width: 150px;
  padding: 0 1.5rem;
  margin-bottom: 0;
}

.form-heading,
.entries-heading {
  font-size: 30px;
  font-family: 'Proza Libre', sans-serif;
  line-height: 40px;
}

.form-controls {
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.form-controls:focus {
  outline-color: #562b81;
}

.form-input {
  height: 40px;
}

.form-label,
.entry-title {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
}

.btn-container {
  justify-content: flex-end;
}

textarea#notes {
  margin-bottom: 20px;
}

.btn {
  background-color: #562b81;
  color: white;
  border-radius: 4px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
}

.entries-list {
  list-style-type: none;
  padding-left: 0;
}

.entry-title {
  font-size: 24px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-new {
  width: 60px;
}

.nav {
  margin-top: 16px;
}

#entries-link {
  color: white;
  text-decoration: none;
}

#no-entries-recorded {
  text-align: center;
  width: 100%;
}

.btn-edit {
  border: none;
  color: #562b81;
  font-size: 26px;
}

.item-header {
  display: flex;
  justify-content: space-between;
}

.delete {
  color: red;
  text-decoration: underline;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  visibility: hidden;
}

.confirm-dialog {
  border: none;
  border-radius: 4px;
  width: 325px;
  font-size: 14px;
  text-align: center;
}

.buttons {
  width: 100%;
}

.dialog-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.btn-cancel {
  border: none;
  background-color: #b6b6b6;
}

.btn-confirm {
  border: none;
  color: white;
  background-color: red;
}
